<!-- your html code here -->
<div class="">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Segundo ejemplo de barra de navegación" _mstaria-label="1097876">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto">
        <li class="nav-item">
      <a class="nav-link"href="#">Start Booststrap</a>
    </li>
          <li class="nav-item">
            <a class="nav-link ac" href="#" _msthash="763152" _msttexthash="72878">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" _msthash="763152" _msttexthash="72878">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" _msthash="763152" _msttexthash="72878">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" _msthash="763152" _msttexthash="72878">Contact</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>